:root {
    --main: #ff362f; 
    --main2: #ff0000; 
    --bg: #151515;
    --sub-bg: #252525;
    --text: #f9f9f9;
    --border-radius: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #252525; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #454545; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--main); 
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body, .container {
    background-color: var(--bg) !important;
}

.section-body, .footer {
    background-color: var(--sub-bg);
}

.navigation {
  background-color: var(--bg);
}

p, i:hover {
    color: var(--text);
    margin-bottom: 0;
  }
  
  i, a, h1, h2, h3, h4, h5, h6,
  .navbar-brand, .fransis-derelle-logo {
    color: var(--main);
  }

  h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
  }
  
  a, i {
    cursor: pointer;
  }

  a:hover {
    color: var(--text);
    text-decoration: none;
  }

  .navigation {
      position: relative;
      min-width: 100%;
      min-height: 150px;
      z-index: 100;
  }

  .featured-text, .socials {
    padding: 20px;
    margin-top: 10px;
    z-index: 100;
  }

  .featured-text {
      float: left;
  }

  .fransis-derelle-logo {
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
    z-index: -1;
    color: var(--main);
  }

  .fransis-derelle-logo svg {
    z-index: -1;
  }

  .socials {
    float: right;
  }
  
  .socials i {
    font-size: 25px;
    padding: 8px;
  }

  .socials i:hover {
    border-bottom: 2px solid var(--main2);
  }

  .container-fluid {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .featured-image {
      text-align: center;
  }

  .featured-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

  .media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 850px;
    margin-top: -50px;
    flex-wrap: wrap;
  }

  .no-shows-text {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 20%;
    color: var(--main2)
  }

  .section {
      min-width: 700px;
      max-width: 750px;
      margin-bottom: 80px;
      margin-left: 20px;
      margin-right: 20px;
  }

  .section-title {
      text-align: center;
  }

  .section-body {
      padding: 20px;
      min-height: 440px;
      min-width: 540px;
      box-shadow: inset 0px 0px 100px var(--main);
      border: 4px solid var(--text);
      border-radius: var(--border-radius);
      text-align: center;
      margin-top: 40px;
  }

  #spotify-player, #youtube-player {
      display: block;
      border-radius: var(--border-radius);
  }

  #tour-dates {
    clip-path: inset(0px round 10px);
  }

  .labels, .releases, .socials-section, .press {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
    max-width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 25px;
    flex-wrap: wrap;
  }

  .label, .release, .platform, .quote {
    margin-bottom: 40px;
  }

  .label-logo, .release-artwork, .platform-icon {
    border: 4px solid var(--text);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label-logo {
    width: 250px;
    height: 250px;
  }

  .platform-icon {
    width: 170px;
    height: 170px;
  }

  .stream-options {
    opacity: 0.01;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .stream-options:hover {
    opacity: 100%;
  }
  
  .stream-options-bg {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    border-radius: calc(var(--border-radius) - 4px);
  }

  .stream-options i {
    font-size: 5rem;
    padding: 10px;
    -webkit-text-fill-color: var(--text);
  }

  .stream-options i:hover {
    -webkit-text-fill-color: var(--main2);
  }

  .release-artwork {
    width: 340px;
    height: 340px;
    position: relative;
    text-align: center;
  }

  .release-artwork img {
    width: 332px;
    border-radius: calc(var(--border-radius) - 4px);
  }

  .release-title, .platform-title {
    margin-top: 20px;
  }

  .label-logo:hover, .release-artwork:hover, .platform-icon:hover {
    border: 4px solid var(--text);
  }

  .label-logo img {
      max-width: 11rem;
  }

  #monstercat, #subsidia {
      max-width: 13rem;
  }

  #circus {
    max-width: 10rem;
  }

  .quote-text {
    color: var(--main2);
    font-size: 3rem;
    font-weight: bold;
    word-wrap: wrap;
  }

  .quote-source {
    padding-left: 35%;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .platform-icon i {
    font-size: 6rem;
    color: var(--text);
  }

  .footer {
      position: relative;
      bottom: 0;
      min-width: 100%;
      min-height: 120px;
  }

  .footer-section, .header-section {
      padding: 10px;
  }

  .copyright {
    text-align: center;
  }

  #v2am {
    max-width: 120px;
    margin-top: 10px;
  }

  @media only screen and (max-width: 1524px) {
    .media {
      margin-top: 50px;
    }
  }

  @media only screen and (max-width: 1240px) {
    .navigation {
      display: block;
      text-align: center;
    }

    .fransis-derelle-logo {
      margin-top: -170px;
      padding-bottom: 80px;
    }

    .featured-text, .socials {
      float: none;
      margin-top: 0px;
    }

    .featured-text {
      padding-top: 20px;
    }

    .featured-text h5 {
      font-size: .75rem;
    }

    .socials {
      margin-top: 80px;
      padding-bottom: 20px;
    }
  }

  @media only screen and (max-width: 764px) {

    .media {
      display: block;
      justify-content: space-around;
      align-items: center;
      min-height: 850px;
      margin-top: 0px;
    }

    .section {
        min-width: 90%;
        margin-bottom: 80px;
    }

    .section-body {
        min-width: 0px;
    }
  }

  @media only screen and (max-width: 440px) {


    .labels, .releases {
        display: block;
    }

    .label-logo, .release {
        margin-bottom: 50px;

    }

    .release-artwork {
      width: 250px;
      height: 250px;
    }
  
    .release-artwork img {
      width: 242px;
    }

    .platform-icon {
      width: 100px;
      height: 100px;
    }

    .platform-icon i {
      font-size: 3rem;
    }

    .quote-text {
      font-size: 1.5rem;
    }
  
    .quote-source {
      font-size: .75rem;
    }
  }